<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RenjuBoard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <RenjuBoard.Properties.Settings>
            <setting name="AIFirst" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowAISteps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPreviewLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowLinesOnBoard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCalibrationLabels" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsAITimeLimited" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SteppingAI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AIStepTimeLimit" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="AITimeLimit" serializeAs="String">
                <value>500000</value>
            </setting>
        </RenjuBoard.Properties.Settings>
    </userSettings>
</configuration>